/* reseteo basico para asegurar consistencia en navegadores */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* fonde general de la pagina*/

body{
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // margin: 0;
    // background-color: red !important;
}
/*contenerodr que simula la pantalla del movil*/

.app-container{
    // background-color: #ffffff;
    // width: 350px;
    // min-width: 350px;
    // max-width: 400px;
    // // height: 100vh;
    // // max-height: 800px;
    // box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    // flex-shrink: 0;
    // display: flex;
    // flex-direction: column;
    // position: relative;
    // // margin: 0 auto;
    // // min-height: 800px;


    background-color: #ffffff;
    width: 400px;       // Ancho fijo exacto
    min-width: 400px;   // Obliga a no encogerse
    max-width: 400px;   // Obliga a no estirarse
    height: 800px;      // Altura fija para uniformidad
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
    // Esto es lo que faltaba para que lo interno no rompa el ancho
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden; // Corta cualquier cosa que intente ser más ancha que 350px
    box-sizing: border-box; // Vital para que el padding no afecte el ancho
    padding: 0; 
    margin: 0 auto;

    // border: 5px solid blue !important;
}

/* barra superior*/

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #4AED86;
    box-sizing: border-box;
    overflow: hidden;
}

.icon-btn{
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

/*contenedor de los botones*/

.main-content{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /*Espacio entre los botones*/
}

/**diseño de los botones principales*/

.action-btn{
    background-color: #ffffff;
    border: 2px solid #0056b3;
    /*color azul para el borde*/
    color: #0056b3;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    text-decoration: none;
    outline: none;
    border: 2px solid #0056b3;
}

#btn-ingresos:hover,#btn-ingresos:active{
    background-color: #66D95D;
    color: #ffffff;
    text-decoration: none;
}

#btn-gastos:hover,#btn-gastos:active{
    background-color: #F55656;
    color: #ffffff;
    text-decoration: none;
}


#btn-metas:hover,#btn-metas:active{
    background-color: #60CCC8;
    color: #ffffff;
    text-decoration: none;
}

/*ajustes para el texto dentro de cualquier boton al hacer hover*/

.action-btn:hover, .action-btn:active{
    justify-content: center;

    span{
        font-weight: bold;
        font-size: 20px;
    }
}

#capital{
    background-color: #ffffff;
    border: 2px solid #4AED86;
    padding: 15px 20px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    text-decoration: none;
    outline: none;
}

#titulo_capital{
    color: #47D10D;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.negativo{
    color: red !important;
}

.positivo{
    color: #47D10D !important;
}

.neutro{ 
    color: gray !important;
}

#movimientos{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
}

#movimientos.lista-movis-active{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
     width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
}